certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
idna==3.3
joblib==1.1.0
numpy==1.22.4
Pillow==9.1.1
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
sklearn==0.0
threadpoolctl==3.1.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
